.container{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
}

.link{
    padding: 5px;
    text-decoration: none;
    color: #000;
}

.active{
    color: rgb(10, 119, 110);
    text-decoration: none;
    font-weight: 700;
}